# Jekyll build and caches
_site/
.sass-cache/
.jekyll-cache/

# Bundler and RubyGems
.bundle/
vendor/bundle/

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp

# Node
node_modules/

# Environment files
.env

# Logs and temp
npm-debug.log*
yarn-debug.log*
*.log
*.tmp

# Ignore local secrets
credentials.yml.enc

# Ignore compiled site assets (if generated elsewhere)
public/

.venv/
__pycache__/
*.py
pyscripts